repos:
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: "v0.16.0"
    hooks:
      - id: terraform-docs-go
        args: ["markdown", "table", "--output-file", "README.md", "./terraform"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
        - id: check-added-large-files
        - id: check-case-conflict
        - id: check-merge-conflict
        - id: check-ast
        - id: double-quote-string-fixer
        - id: detect-private-key
        - id: detect-aws-credentials
        - id: debug-statements
        - id: requirements-txt-fixer
        - id: check-json

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.80.0"
    hooks:
      - id: terraform_fmt
      - id: terraform_providers_lock
      - id: terraform_validate
      - id: terraform_tflint
        args:
          - '--args=--only=terraform_deprecated_interpolation'
          - '--args=--only=terraform_deprecated_index'
          - '--args=--only=terraform_comment_syntax'
          - '--args=--only=terraform_typed_variables'
          - '--args=--only=terraform_module_pinned_source'
          - '--args=--only=terraform_workspace_remote'
        verbose: true
